$font-primary: raleway;

$dark-primary: #FF416C;
$dark-secondary: #461183;
$darken-secondary: #230a3f;


$white: white;
$dark-gray: #222;
$gray: #333;
$neon-shadow: rgba(238, 216, 20, .3);

$neon-yellow: rgb(236, 180, 25);

$transition: all .3s ease-out;








