.st0{fill:#DB9C2E;}
	.st1{fill:#BF6C0D;}
	.st2{fill:#F9BB32;}
	.st3{fill:#FCE575;}
	.st4{fill:#FFD551;}
	.st5{fill:#FFC34C;}
	.st6{fill:#FFDF74;}
	.st7{fill:#FFA730;}
	.st8{fill:#FFF4C1;}
	.st9{fill:#FFEACF;}
	.st10{fill:#FF624B;}
	.st11{fill:#CCC033;}
	.st12{fill:#8C4C17;}
	.st13{fill:#FFD59A;}
	.st14{fill:#99AF17;}
	.st15{fill:#FCF9DE;}
	.st16{fill:#E58D23;}
	.st17{fill:#A56021;}
	.st18{fill:#FF4B34;}
	.st19{fill:#FF9079;}
	.st20{fill:#EACF32;}
	.st21{fill:#FFB74B;}
	.st22{fill:#FCDA4F;}
	.st23{fill:#FFEA63;}